@layer components {
  .css-slider__item:where(.v2, .v3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #d9d9d9;
    padding: 1rem;
  }

  .css-slider__item.v3 {
    background: none;
  }

  .css-slider__item:where(.v2, .v3) > :first-child {
    margin-top: 0;
  }

  .css-slider__item:where(.v2, .v3) > :last-child {
    margin-bottom: 0;
  }

  /* Slider */

  .css-slider {
    --per-page: 1;
    --gap: 0px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(
      (100% - (var(--per-page) - 1) * var(--gap)) / var(--per-page)
    );
    gap: var(--gap);
    overflow-x: auto;
    scroll-behavior: smooth;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    touch-action: pan-x;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .css-slider__list::-webkit-scrollbar {
    display: none;
  }

  .css-slider__item {
    scroll-snap-align: start;
    width: 100%;
    height: auto;
  }
}
